.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.b1 {
    border: 1px solid black;
}

.new-pic {
    background-image: url("../pics/new.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    right: 10px;
}

.popular-pic {
    background-image: url("../pics/flame.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    right: 10px;
}

iframe {
    width: 560px;
    height: 315px;
}
