.list {
    width: auto;
    flex-wrap: wrap;
    margin: auto;
}


.list-item {
    display: flex;
    width: 600px;
    background-color: black;
    margin: 10px;
    padding: 10px;
}

.article {
    width: 100%;
}

.watches {
    color: white;
}

.player {
    margin: auto;
}

.article {
    justify-content: space-between;
}

.new-pic, .popular-pic {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    right: 0;
}

.new-pic {
    background-image: url("../pics/new.png");
}

.popular-pic {
    background-image: url("../pics/flame.png");
}

iframe {
    width: 560px;
    height: 315px;
}
