.list {
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
}

.list > div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 200px;
    padding: 20px;
    justify-content: space-between
}

.new,
.popular,
.article{
    width: auto;
}

.article{
    display: flex;
    justify-content: space-between;

}
